In [14]:
planet = {
    "Name": "Mars",
    "Moons": 2
}

In [16]:
print(f'{planet["Name"]} has {planet["Moons"]} moons')

Mars has 2 moons

In [17]:
planet["diameter (km)"] = {
    "polar": 6752,
    "equatorial": 6792
}
print (f'{planet["Name"]} has a polar circumference of {planet["diameter (km)"]["polar"]}')

Mars has a polar circumference of 6752

In [19]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [33]:
moons = planet_moons.values()
planets = len (planet_moons.keys())


total_moons = 0 
for all_moon in moons:
    total_moons = total_moons + all_moon
    
average = total_moons / planets

print(f'There is an average of {average} moons in the solar system')

There is an average of 17.833333333333332 moons in the solar system